*{
  margin:0;
  padding:0;
  box-sizing: border-box;


}

body {
  font-family: sans-serif;
  background-color: #E8F7EE;
}

header {
  height:100px;
  width:100%;
  color:#E8F7EE;
  font-size: 8rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #D1462F;
}
.body{
  height:calc(100vh - 100px);

  display:flex;
}

.sidebar {
  width:200px;

  background-color: #780116;
}

.content{
  width:calc(100vw - 200px);

  overflow-y: scroll;
}

.card{
  margin:20px;
  background-color: #DAD6D6;

  display:flex;
  box-shadow: 5px 5px 10px #8B8989;
}

.card-image{
  width:25%;
  margin:10px;
  margin-right: 0px;
}

.card-image img {
  width:100%;

  background-color: yellow;
}

.card-content{
  width:75%;
  margin:10px;
  padding:10px;

  background-color: #C7C3C3;
}

.card-content h2{
  font-size:3rem;
  color:#262240;
  margin-bottom: 10px;
}

.card-content p {
  color:#262240;

  font-size: 1rem;
  margin-bottom: 10px;
}

.reverse {
  flex-direction: row-reverse;
}

.reverse .card-image{
  margin-right: 10px;
  margin-left: 0px;
}

.sidebar {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.sidebar li{
  list-style: none;
  color:#E8F7EE;
  font-size: 2rem;
  margin-top: 30px;
}

.sidebar a {
  text-decoration: none;
}

.sidebar li:hover {
  text-decoration: underline;
}